APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:17u+35cxVgnCS5GAU8ZmtIzQ8pHTufMyK6Qr47DwFts=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=https://fappify.in

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=u636722041_fapp
DB_USERNAME=u636722041_root
DB_PASSWORD=Abeerpant@2025

SESSION_DRIVER=database
SESSION_LIFETIME=120cd 
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379


MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

# Firebase Web App Configuration
VITE_FIREBASE_API_KEY="AIzaSyB6uVDeIWV2xErEEZ30DI29AEeqvPLzgBk"
VITE_FIREBASE_AUTH_DOMAIN="fappify-f4cb7.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="fappify-f4cb7"
VITE_FIREBASE_STORAGE_BUCKET="fappify-f4cb7.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="116870753173"
VITE_FIREBASE_APP_ID="1:116870753173:web:4c776421e77a7525b0249c"

